label {font-size: 1.2em;
      font-family: Verdana;
      font-weight: 200;
      color: green;
      background-color:#D9F7D9;
      

}


body {font-family: Helvetica, Arial, sans-serif;
      background: lightblue;
      margin: 0;
      line-height: 1.45;
	  font-size:20px;
	  text-align: center;
}